.instruction-component {
  padding: 0 15%;

  .step-card {
    width: 188px;
    height: 187px;
    border-radius: 16px;
    background: #ECF0FF;

    .step-number {
      margin: 0 auto 12px auto;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 38px;
      background: #2B8AFC;
      color: #ECF0FF;
    }

    .text-wrapper {
      color: #232323;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 128%;
    }

    .hover-block {
      display: none;
    }

    &:hover {
      background: #DEE4FF;

      .un-hover-block {
        display: none;
      }

      .hover-block {
        display: block;
        text-align: center;
      }
    }
  }

  .overlay-wrapper-component {
    padding: 40px;
    background-color: #F9F9F9;
    border-radius: 20px;
    position: relative;

    .icon-wrapper {
      position: absolute;
      top: 24px;
      right: 24px;

      &:hover {
        svg > g > g > path,
        svg > g > path {
          fill: #0073FC;
        }
      }
    }

    .overlay-wrapper-component-title {
      color: #13277E;
      margin-bottom: 24px;
      text-align: center;
      font-size: 40px;
      font-weight: 600;
      line-height: 130%;
    }

    .overlay-wrapper-component-text {
      color: #232323;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
    }
  }
}
