.instruction-component {
  @media screen and (max-width: 950px) {
    padding: 0 10vw;
  }

  .step-card {
    border-radius: 16px;
    background: #ecf0ff;
    min-height: 185px;

    .text-wrapper {
      color: #232323;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 128%;
    }

    .hover-block {
      visibility: hidden;
    }

    &:hover {
      background: #dee4ff;

      .un-hover-block {
        visibility: hidden;
      }

      .hover-block {
        visibility: visible;
        text-align: center;
        padding: 34px 18px;
      }
    }
  }

  .overlay-wrapper-component {
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 20px;
    position: relative;

    .icon-wrapper {
      position: absolute;
      top: 14px;
      right: 14px;

      &:hover {
        svg > g > g > path,
        svg > g > path {
          fill: #0073fc;
        }
      }
    }

    .overlay-wrapper-component-title {
      color: #13277e;
      margin-bottom: 24px;
      text-align: center;
      font-size: 40px;
      font-weight: 600;
      line-height: 130%;
    }

    .overlay-wrapper-component-text {
      color: #232323;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
    }
  }

  .step-number {
    margin: 0 auto 12px auto;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 38px;
    background: #2b8afc;
    color: #ecf0ff;
    font-weight: 600;

    @media screen and (max-width: 950px) {
      margin: 0;
    }
  }
}
