.blogs-wrapper {
  background: #ecf0ff;

  .blog-title {
    font-size: 40px;
    line-height: 130%;
    color: #13277e;
    font-weight: 600;
    padding: 0 1.5rem;

    @media screen and (max-width: 950px) {
      font-size: 20px;
      line-height: 22px;
    }
  }

  .blog-wrapper {
    padding: 2.5rem 190px;

    @media screen and (max-width: 950px) {
      padding: 1.5rem 0 0;
    }
  }

  .blog-images-wrapper {
    @media screen and (max-width: 950px) {
      flex-direction: column;
      padding: 0 1.5rem;
    }
  }

  .blog-image {
    border-radius: 24px;
  }
}
