.benefits-component {
  .benefits-sub-title {
    margin: 0 auto;
    color: var(--Text-Title, #13277e);
    font-size: 20px;
    font-weight: 500;
    line-height: 110%;
  }

  .benefits-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 0 20vw;

    @media screen and (max-width: 950px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding: 0 1rem;
    }

    .benefit-wrapper {
      padding: 18px 0;
      border-radius: 16px;
      color: #232323;
      background: #ecf0ff;
      justify-content: center;

      .benefit-text {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }
}
