.benefits-component {
  .benefits-sub-title {
    margin: 0 auto;
    color: var(--Text-Title, #13277E);
    font-size: 20px;
    font-weight: 500;
    line-height: 110%;
  }

  .benefits-list {
    padding: 0 20%;

    .benefit-wrapper {
      padding: 18px 0;
      border-radius: 16px;
      color: #232323;
      background: #ECF0FF;

      .benefit-text {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }
}
