.added-main-service-component {
  .switch-component {
    display: flex;
    gap: 20px;
    padding: 0px 111px;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background: #ecf0ff;
    cursor: pointer;

    @media screen and (max-width: 950px) {
      min-height: 72px;
      justify-content: center;
      gap: 8px;
    }

    .image-wrapper {
      display: flex;
      align-items: center;
      width: 105px;
      height: 105px;
      user-select: none;

      @media screen and (max-width: 950px) {
        width: 60px;
        height: 60px;
      }
    }

    .title {
      text-align: center;
      color: #232323;
      font-size: 20px;
      font-weight: 600;
      line-height: 110%;

      @media screen and (max-width: 950px) {
        font-size: 16px;
        line-height: 128%;
      }
    }

    .title-active {
      color: #2b8afc;
    }

    .icon {
      transition: transform 0.3s ease-in-out;

      @media screen and (max-width: 950px) {
        height: 28px;
        width: 28px;
      }
    }

    .flipped-icon {
      transform: rotateX(180deg);
    }

    &:hover {
      .title {
        color: #2b8afc;
      }
    }
  }

  .add-service-list-wrapper {
    margin-top: 24px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 950px) {
  .added-main-service-component {
    .switch-component {
      padding: 0 12px;
    }
  }
}
