.added-main-service-component {
  .switch-component {
    display: flex;
    gap: 20px;
    padding: 0px 111px;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background: #ECF0FF;
    cursor: pointer;

    .image-wrapper {
      display: flex;
      align-items: center;
      width: 105px;
      height: 105px;
      user-select: none;
    }

    .title {
      text-align: center;
      color: #232323;
      font-size: 20px;
      font-weight: 600;
      line-height: 110%;
    }

    .title-active {
      color: #2B8AFC;
    }

    .icon {
      transition: transform 0.3s ease-in-out;
    }

    .flipped-icon {
      transform: rotateX(180deg);
    }

    &:hover {
      .title {
        color: #2B8AFC;
      }
    }
  }

  .add-service-list-wrapper {
    margin-top: 24px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 950px) {
  .added-main-service-component {
    .switch-component {
      padding: 0px 12px;
    }
  }
}
