.user-data-from {
  .select-block-open-data-time {
    animation: increaseHeightDataTime 0.5s linear;
  }

  .select-block-open-address {
    animation: increaseHeightAddress 0.5s linear;
  }
}

@keyframes increaseHeightDataTime {
  from {
    height: 58px;
  }
  to {
    height: 625px;
  }
}

@keyframes increaseHeightAddress {
  from {
    height: 58px;
  }
  to {
    height: 450px;
  }
}
