.user-data-from {
  .input-wrapper {
    width: 100%;

    input {
      padding: 13px 0px 13px 13px;
      width: 100%;
      background: #ECF0FF;
      border-radius: 12px;
      outline: none;

      color: #5C5C5C;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  .select-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
    width: 100%;
    background: #ECF0FF;
    border-radius: 12px;
    color: #9BA3AF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    svg {
      transform: rotate(180deg);
      path {
        fill: #9BA3AF;
      }
    }
  }

  .select-block-open {
    padding: 13px;
    width: 100%;
    background: #ECF0FF;
    border-radius: 12px;
    overflow: hidden;

    .order-wrapper {
      margin-top: 8px;
      height: 42px;
      padding-top: 10px;
      border-radius: 40px;
      background: #2B8AFC;
      color: #F9F9F9;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
      cursor: pointer;
    }

    .address-layout {
      border: 1px solid #848484;
      border-radius: 12px;
      font-size: 12px;

      textarea {
        padding: 13px 0px 13px 13px;
        width: 100%;
        background: #ECF0FF;
        border-radius: 12px;
        outline: none;

        color: #5C5C5C;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }

  .select-block-open-data-time {
    height: 625px;
    animation: increaseHeightDataTime .5s linear;
  }

  .select-block-open-address {
    height: 450px;
    animation: increaseHeightAddress .5s linear;
  }

  .selected-block {
    color: #5C5C5C;
  }

  .input-referral-code {
    margin-bottom: 24px;

    .input-wrapper {
      height: 56px;
      border-radius: 44px;
      background: #F9F9F9;

      .icon-wrapper {
        margin: auto 12px auto 20px;
      }

      .input {
        width: calc(100% - 133px);
        background: #F9F9F9;
        outline: none;
      }

      .button-wrapper {
        margin-left: auto;
        width: 133px;
        padding-top: 18px;
        border-radius: 12px;
        background: #2B8AFC;
        color: #F9F9F9;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
      }

      .button-wrapper:hover {
        background: #0073FC;
      }
    }
  }

  .sub-text {
    margin-bottom: 24px;
    margin-left: 8px;
    color: #5C5C5C;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
}

@keyframes increaseHeightDataTime {
  from {
    height: 58px;
  }
  to {
    height: 625px;
  }
}

@keyframes increaseHeightAddress {
  from {
    height: 58px;
  }
  to {
    height: 450px;
  }
}