.cleaning-component {
  padding: 0 104px;
  height: 100vh;

  .main-title {
    margin-bottom: 20px;
    color: #13277E;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
  }

  .switcher-wrapper {
    display: flex;
    justify-content: center;
  }

  .room-img-wrapper {
    margin: 32px 0;
    position: relative;
    overflow: hidden;

    img {
      border-radius: 24px;
      height: 100%;
      width: 100%;
    }
  }

  .room-item {
    padding-top: 24px;
    width: 205px;
    height: 69px;
    color: #232323;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    cursor: pointer;
  }

  .room-item.active {
    color: #F9F9F9;
    background: #2B8AFC;
    border-radius: 64px;
  }
}
