.slider-wrapper {
  position: relative;

  .arrow-button {
    cursor: pointer;

    &:hover {
      path {
        fill: #2B8AFC;
      }
    }
  }

  .arrow-button-left {
    position: absolute;
    top: calc(50% - 20px);
    left: -49px;
    transform: translateY(-50%);
  }

  .arrow-button-right {
    position: absolute;
    top: calc(50% - 20px);
    right: -49px;
    transform: translateY(-50%);
  }

  .slider-component {
    overflow: hidden;

    .slider-status {
      width: 50px;
      height: 10px;
      border-radius: 100px;
      background: #2B8AFC;
    }

    .slider-status.sub {
      width: 10px;
      height: 10px;
      background: #ECF0FF;
    }
  }
}
