.check-boxes-component {
  .check-box-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;

    .checked-icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background: #f9f9f9;

      .checked-icon {
        width: 24px;
        height: 24px;
      }
    }

    .content-wrapper-checkbox {
      display: flex;
      align-items: center;
      user-select: none;
      width: 80%;

      .link {
        &:hover {
          color: #2b8afc;
        }

        &:active {
          color: #2b8afc;
        }
      }
    }
  }
}
