.services-list-component {
  ._grid._grid-cols-3 {
    gap: 22px;
  }

  .service-wrapper {
    padding: 15px 0 14px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
    border: 4px solid #ecf0ff;
    background: #ecf0ff;
    cursor: pointer;

    &:hover {
      background: #dee5ff;
      border: 4px solid #dee5ff;
    }

    .item-title {
      color: #1e1e1e;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      line-height: 130%;

      @media screen and (max-width: 350px) {
        font-size: 14px;
      }
    }

    .how-to-work {
      user-select: none;
    }

    .how-it-works-wrapper {
      @media screen and (max-width: 350px) {
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        gap: 0;
      }
    }
  }

  .active-wrapper {
    border: 4px solid #2b8afc;

    &:hover {
      border: 4px solid #2b8afc;
    }
  }
}

@media screen and (max-width: 950px) {
  .services-list-component {
    ._grid._grid-cols-3 {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: repeat(2, 1fr);
    }
  }
}
