.man-icon-wrapper-animated {
  left: 1rem;
  animation: manAnimationToLeft 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.woman-icon-wrapper-animated {
  right: 1rem;
  animation: womanAnimationToRight 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes manAnimationToLeft {
  0% {
    left: -30%;
  }

  100% {
    left: 1rem;
  }
}

@keyframes womanAnimationToRight {
  0% {
    right: -30%;
  }

  100% {
    right: 1rem;
  }
}
