.vector-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .offer-wrapper {
    position: absolute;
    top: 6.5%;
    left: 15%;

    .title {
      color: #13277E;
      font-size: 72px;
      letter-spacing: 0.41px;
    }

    .main-title {
      font-weight: 700;
      line-height: 86.4px;
    }

    .sub-title {
      font-weight: 400;
      line-height: 72px;
    }

    .advantages-block {
      font-size: 16px;
      letter-spacing: -0.066px;
      line-height: 20.8px;

      .advantages-title {
        color: #13277E;
        font-weight: 600;
      }

      .advantages-text {
        color: #232323;
        font-weight: 400;
      }
    }

    .main-button {
      min-width: 173px;
      padding: 24px 0;
      text-align: center;
      border-radius: 40px;
      background: #2B8AFC;
      color: #F9F9F9;
    }

    .main-button:hover {
      background-color: #0073FC;
    }

    .sub-button {
      min-width: 100px;
      padding: 24px 0;
      text-align: center;
      border-radius: 40px;
      background: #F9F9F9;
      color: #13277E;
    }

    .sub-button:hover {
      background-color: #0073FC;
      color: #F9F9F9;
    }
  }
}

.main-offer-wrapper-mobile {
  display: none;
}

@media screen and (max-width: 950px) {
  .main-offer-wrapper-mobile {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
  
    .main-button {
      margin: 20% 80px 8px 80px;
      padding: 24px 0;
      text-align: center;
      border-radius: 40px;
      background: #2B8AFC;
      color: #F9F9F9;
    }
    
    .main-button:hover {
      background-color: #0073FC;
    }
    
    .sub-button {
      margin: 0 80px;
      padding: 24px 0;
      text-align: center;
      border-radius: 40px;
      background: #F9F9F9;
      color: #13277E;
    }
    
    .sub-button:hover {
      background-color: #0073FC;
      color: #F9F9F9;
    }
  }
}

@media screen and (max-width: 400px) {
  .main-offer-wrapper-mobile {
    .main-button {
      margin: 25% 80px 8px 80px;
      padding: 16px 0;
    }

    .sub-button {
      margin: 0 80px;
      padding: 16px 0;
    }
  }
}