.vector-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .offer-wrapper {
    position: absolute;
    top: 6.5%;
    left: 15%;

    .title {
      color: #13277e;
      font-size: 72px;
      letter-spacing: 0.41px;
    }

    .main-title {
      font-weight: 700;
      line-height: 86.4px;
    }

    .sub-title {
      font-weight: 400;
      line-height: 72px;
    }

    .advantages-block {
      font-size: 16px;
      letter-spacing: -0.066px;
      line-height: 20.8px;

      .advantages-title {
        color: #13277e;
        font-weight: 600;
      }

      .advantages-text {
        color: #232323;
        font-weight: 400;
      }
    }

    .main-button {
      min-width: 173px;
      padding: 24px 0;
      text-align: center;
      border-radius: 40px;
      background: #2b8afc;
      color: #f9f9f9;
      font-weight: 600;
    }

    .main-button:hover {
      background-color: #0073fc;
    }

    .sub-button {
      min-width: 100px;
      padding: 24px 0;
      text-align: center;
      border-radius: 40px;
      background: #f9f9f9;
      color: #13277e;
      font-weight: 600;
    }

    .sub-button:hover {
      background-color: #0073fc;
      color: #f9f9f9;
    }
  }
}

.main-offer-wrapper-mobile {
  display: none;
}

@media screen and (max-width: 950px) {
  .main-offer-wrapper-mobile {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;

    .main-button {
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20vh 13vw 8px 13vw;
      padding: 24px 0;
      text-align: center;
      border-radius: 40px;
      background: #2b8afc;
      color: #f9f9f9;

      &:hover {
        background-color: #0073fc;
      }
    }

    .sub-button {
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 13vw;
      padding: 24px 0;
      text-align: center;
      border-radius: 40px;
      background: #f9f9f9;
      color: #13277e;

      &:hover {
        background-color: #0073fc;
        color: #f9f9f9;
      }
    }
  }
}
