.gift-page {
  .gift-content {
    gap: 40px;

    ._grid._grid-cols-2._gap-6 {
      img {
        border-radius: 24px;
      }
    }

    .career-title {
      color: var(--Text-Title, #13277E);
      text-align: center;
      font-size: 40px;
      font-weight: 600;
      line-height: 130%;
    }

    .career-text {
      text-align: center;
    }
  }
}
