.costs-component {
  padding: 0 104px;

  .main-title {
    margin-bottom: 20px;
    color: #13277e;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
  }

  .no-sales-wrapper {
    margin: 28px 20px 28px 28px;
    width: 250px;

    .no-sales-text-wrapper {
      div {
        display: inline;
      }

      .title {
        margin: 4px 0;
      }
    }
  }

  .costs-sales-wrapper {
    margin-top: 32px;
    width: 100%;
    border-radius: 24px;
    background: #ecf0ff;

    .sales-list {
      margin: 28px 20px 28px 28px;
      width: 250px;

      .sale-item {
        padding: 14px 27px;

        .title {
          width: 100%;
          text-align: center;
          color: #232323;
          font-size: 20px;
          font-weight: 600;
          line-height: 22px;
        }

        .sale {
          padding: 8px;
          align-items: center;
          border-radius: 72px;
          background: #f9c630;
          color: #232323;
          font-size: 20px;
          font-weight: 600;
          line-height: 22px;
        }
      }

      .sale-item.active {
        border-radius: 88px;
        background: #2b8afc;

        .title {
          color: #f9f9f9;
        }
      }
    }

    .costs-wrapper {
      width: 950px;

      .costs-item {
        text-align: center;
        margin: 28px 0;

        .title {
          color: #232323;
          font-size: 20px;
          font-weight: 600;
          line-height: 22px;
        }

        .text {
          margin: 16px 0 24px 0;
          padding: 0 20px;
          color: #5c5c5c;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }

        .coast {
          color: #232323;
          font-size: 24px;
          font-weight: 700;
          line-height: 32px;
          letter-spacing: -0.38px;
        }

        .old-coast {
          margin-left: 8px;
          color: #5c5c5c;
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;
          text-decoration-line: line-through;
        }

        .button {
          margin: 24px 14px 0 14px;
          padding: 18px 0;
          border-radius: 40px;
          background: #2b8afc;
          color: #f9f9f9;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
        }

        .button:hover {
          background: #0073fc;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .costs-component {
    margin-bottom: 60px;
    padding: 0 5%;
  }

  .sub-mobile-wrapper {
    width: 100%;

    .sub-mobile-sales-wrapper {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      gap: 32px;

      .sub-mobile-sales-item {
        width: 103px;
        height: 84px;
        padding: 12px 3px;
        text-align: center;

        .sub-mobile-sales-sale {
          margin: 0 auto 4px auto;
          width: 62px;
          padding: 8px 0;
          color: #232323;
          font-size: 18px;
          font-weight: 600;
          line-height: 22px;
          margin-bottom: 4px;
        }

        .sub-mobile-sales-title {
          color: #232323;
          font-size: 14px;
          font-weight: 500;
          line-height: 130%;
          letter-spacing: 0.07px;
          white-space: nowrap;
        }
      }

      .sub-mobile-sales-item-active {
        border-radius: 6px;
        background: #2b8afc;

        .sub-mobile-sales-sale {
          border-radius: 72px;
          background: #f9c630;
        }

        .sub-mobile-sales-title {
          color: #f9f9f9;
        }
      }
    }

    .grid-sales-mobile {
      margin-top: 20px;
      display: flex;
      flex-flow: column;
      gap: 20px;

      .sales-mobile-item {
        padding: 16px;
        border-radius: 12px;
        background: #ecf0ff;
      }

      .sales-mobile-title {
        text-align: center;
        color: #232323;
        font-size: 16px;
        font-weight: 500;
        line-height: 128%;
      }

      .sales-mobile-price-wrapper {
        margin: 12px 0;
        display: flex;
        justify-content: center;
        gap: 8px;

        .sales-mobile-current-price {
          color: var(--Text-Primary, #232323);
          font-size: 18px;
          font-weight: 600;
          line-height: 22px;
        }

        .sales-mobile-old-price {
          color: var(--Text-Secondary, #5c5c5c);
          font-size: 16px;
          font-weight: 400;
          line-height: 130%;
          text-decoration-line: line-through;
        }
      }

      .sales-mobile-item-order-btn {
        margin: 28px auto 0 auto;
        width: 130px;
        padding: 14px 0;
        border-radius: 40px;
        background: #2b8afc;
        color: #f9f9f9;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 128%;
        cursor: pointer;
      }

      .mobile-disabled {
        @media screen and (max-width: 950px) {
          pointer-events: none;
          background: #7eb8ff;
        }
      }
    }

    .sub-text-below-mobile {
      margin-top: 20px;
      color: #5c5c5c;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 130%;
    }
  }
}
