.costs-component {
  padding: 0 104px;

  .main-title {
    margin-bottom: 20px;
    color: #13277E;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
  }

  .no-sales-wrapper {
    width: 26%;
    margin: 28px 22px 28px 31px;

    .no-sales-text-wrapper {
      div {
        display: inline;
      }

      .title {
        margin: 4px 0;
      }
    }
  }

  .costs-sales-wrapper {
    margin-top: 32px;
    width: 100%;
    border-radius: 24px;
    background: #ECF0FF;

    .sales-list {
      width: 26%;
      margin: 28px 20px 28px 28px;

      .sale-item {
        padding: 14px 27px;

        .title {
          width: 100%;
          text-align: center;
          color: #232323;
          font-size: 20px;
          font-weight: 600;
          line-height: 22px;
        }
  
        .sale {
          padding: 8px;
          align-items: center;
          border-radius: 72px;
          background: #F9C630;
          color: #232323;
          font-size: 20px;
          font-weight: 600;
          line-height: 22px;
        }
      }

      .sale-item.active {
        border-radius: 88px;
        background: #2B8AFC;

        .title {
          color: #F9F9F9;
        }
      }
    }

    .costs-wrapper {
      width: 100%;

      .costs-item {
        text-align: center;
        margin: 28px 0;

        .title {

          color: #232323;
          font-size: 20px;
          font-weight: 600;
          line-height: 22px;
        }

        .text {
          margin: 16px 0 24px 0;
          padding: 0 20px;
          color: #5C5C5C;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }

        .coast {
          color: #232323;
          font-size: 24px;
          font-weight: 700;
          line-height: 32px;
          letter-spacing: -0.38px;
        }

        .old-coast {
          margin-left: 8px;
          color: #5C5C5C;
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;
          text-decoration-line: line-through;
        }

        .button {
          margin: 24px 14px 0 14px;
          padding: 18px 0;
          border-radius: 40px;
          background: #2B8AFC;
          color: #F9F9F9;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
        }

        .button:hover {
          background: #0073FC;
        }
      }
    }
  }
}
