.modal-wrapper {
  position: absolute;
  padding: 80px;
  min-width: 80%;
  max-height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background: #ecf0ff;
  overflow: auto;

  .icon-wrapper-modal {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
  }

  @media screen and (max-width: 950px) {
    padding: 16px;
  }
}
