.costs-switcher {
  position: relative;
  width: 277px;
  height: 69px;
  border-radius: 96px;
  border: 2px solid #2B8AFC;

  .costs-switcher-title {
    padding-top: 24px;
    height: 100%;
    width: 50%;
    z-index: 2;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
  }

  .active {
    background: #2B8AFC;
    color: #F9F9F9;
  }

  .active-block {
    position: absolute;
    z-index: 1;
    width: 141px;
    height: 65px;
    border-radius: 64px;
    background: #2B8AFC;
  }
}
