.costs-switcher {
  position: relative;
  width: 277px;
  width: 100%;
  height: 67px;
  border-radius: 96px;
  border: 2px solid #2b8afc;

  @media screen and (max-width: 950px) {
    height: 50px;
  }

  .costs-switcher-title {
    height: 100%;
    width: 50%;
    z-index: 2;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: #0073fc;
    }
  }

  .active {
    color: #f9f9f9;
    transition: color 0.5s ease;
  }

  .active-block {
    position: absolute;
    z-index: 1;
    width: 141px;
    width: 50%;
    height: 65px;
    border-radius: 64px;
    background: #2b8afc;
    transition: left 0.3s ease;

    @media screen and (max-width: 950px) {
      height: 48px;
    }
  }
}
