.all-service-component {
  margin: 0 104px;

  .main-title {
    margin-bottom: 20px;
    color: #13277E;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
  }
}
