.all-service-component {
  margin: 0 104px;

  .main-title {
    margin-bottom: 20px;
    color: #13277E;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
  }
}

.all-service-component-mobile {
  display: none;
}

@media screen and (max-width: 950px) {
  .all-service-component-mobile {
    display: block;
    margin: 0 80px;
    margin-bottom: 60px;

    .main-title {
      margin-bottom: 12px;
      color: #232323;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 128%;
      letter-spacing: -0.41px;
    }
  }
}
