.price-by-photo-component {
  .price-by-photo-wrapper {
    width: 1024px;

    .img-wrapper {
      height: 32.5rem;

      img:first-child {
        top: 41px;
        left: 132px;
      }

      img:nth-child(2) {
        top: 29px;
        width: 230px;
        height: 488px;
      }

      img:nth-child(3) {
        top: 15px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .price-by-photo-component {
    display: block;

    .mobile-wrapper {
      .img-wrapper-mobile {
        height: 37.5rem;

        img:nth-child(1) {
          height: 550px;
          width: 250px;
        }

        img:nth-child(2) {
          height: 580px;
          width: 400px;
          top: -15px;
        }
      }
    }
  }
}
