.price-by-photo-component {
  .white-bg {
    width: 1024px;
    padding: 47px 0 40px 0;
    border-radius: 24px;
    background: #ECF0FF;

    .title {
      margin-bottom: 20px;
      color: #13277E;
      text-align: center;
      font-size: 40px;
      font-weight: 600;
      line-height: 52px;
      white-space: pre-line;
    }

    .text {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #232323;
      white-space: pre-line;
    }

    .img-wrapper {
      position: relative;
      margin: 32px 0 40px 0;
      height: 519px;

      img {
        position: absolute;
      }

      img:first-child {
        top: 41px;
        left: 132px;
      }

      img:nth-child(2) {
        top: 29px;
        width: 230px;
        height: 488px;
      }

      img:nth-child(3) {
        top: 15px;
      }
    }

    .social-button {
      padding: 12px 30px 12px 31px;
      display: flex;
      justify-content: center;
      gap: 8px;
      border-radius: 40px;
      background: #2B8AFC;
      color: #F9F9F9;

      svg > g > g > path,
      svg > g > path {
        fill: #F9F9F9;
      }
    }

    .social-button:hover {
      background: #0073FC;
    }
  }
}