.mobile-swiper-wrapper {
  .slider-status {
    width: 50px;
    height: 10px;
    border-radius: 100px;
    background: #2b8afc;
  }

  .slider-status.sub {
    width: 10px;
    height: 10px;
    background: #ecf0ff;
  }
}
