.advantages-component {
  padding: 0 104px;

  .advantage-title {
    color: #13277e;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
  }

  .advantage-text {
    color: var(--text-primary, #232323);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.advantages-component-mobile {
  display: none;
}

@media screen and (max-width: 950px) {
  .advantages-component-mobile {
    display: block;
    margin-bottom: 60px;
    padding: 0 5%;

    .advantage-title {
      margin: 8px 0;
      color: #13277e;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
    }

    .advantage-text {
      color: #232323;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: -0.41px;
    }
  }
}
