.summary-layout {
  display: flex;
  flex-flow: column;
  gap: 24px;

  position: sticky;
  top: 8px;

  .order-wrapper {
    height: 56px;
    padding-top: 18px;
    border-radius: 40px;
    background: #2b8afc;
    color: #f9f9f9;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;

    &:hover {
      background: #0073fc;
    }
  }
}

.order-wrapper-disabled {
  background: #7eb8ff !important;
}

.summary-wrapper {
  padding: 40px;
  border-radius: 24px;
  background: #ecf0ff;

  .summary-title {
    color: #232323;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }

  .summary-counter {
    display: flex;
    gap: 12px;
    overflow: hidden;
    margin-top: 8px;

    color: #232323;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .sec-summary-title-wrapper {
    margin-top: 8px;
    border-top: 1px dashed #13277e;
    padding-top: 8px;
    margin-bottom: 8px;
  }

  .services-in-summary {
    .title-sub-service-title {
      margin: 8px 0;
      color: #232323;
      font-size: 18px;
      font-weight: 600;
    }

    .service-item {
      margin-right: 8px;
      margin-bottom: 8px;
      float: left;
      height: 36px;
      width: max-content;
      padding: 0 6px 0 12px;
      border-radius: 45px;
      border: 1px solid #c8c8c8;

      .icon-wrapper {
        margin-left: 4px;
      }
    }
  }

  .summary-wrapper-separator {
    border-top: 1px dashed #c8c8c8;
    margin-top: 3px;
    margin-bottom: 9px;
  }

  .input-promo-code {
    margin-top: 16px;

    .input-wrapper {
      height: 56px;
      border-radius: 44px;
      background: #f9f9f9;

      .icon-wrapper {
        margin: auto 12px auto 20px;
      }

      .input {
        background: #f9f9f9;
        outline: none;
        width: 100%;
      }

      .button-wrapper {
        margin-left: auto;
        padding: 18px 28px;
        border-radius: 40px;
        background: #2b8afc;
        color: #f9f9f9;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
      }

      .button-wrapper:hover {
        background: #0073fc;
      }
    }
  }

  .to-pay-wrapper {
    margin-top: 32px;
    height: 32px;

    .title {
      margin-right: 4px;
      color: #232323;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    .current-price {
      margin-right: 6px;
      color: #232323;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
    }

    .old-price {
      color: #848484;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      text-decoration-line: line-through;
    }
  }
}

.promo-status {
  &::placeholder {
    color: #fff;
  }
}

.order-wrapper-absolute {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 90%;

  height: 56px;
  padding-top: 18px;
  border-radius: 40px;
  background: #2b8afc;
  color: #f9f9f9;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}
