.counter-component {
  position: relative;
  width: 100%;
  height: 80px;
  border-radius: 100px;
  background: #ecf0ff;
  overflow: hidden;

  @media screen and (max-width: 950px) {
    height: 48px;
  }

  .counter-title {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    color: #232323;
    font-size: 20px;
    line-height: 22px;
    user-select: none;

    @media screen and (max-width: 950px) {
      font-size: 16px;
      line-height: 128%;
    }
  }

  .counter-icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .icon {
      @media screen and (max-width: 950px) {
        height: 50px;
        width: 50px;
      }
    }

    &:hover {
      cursor: pointer;

      svg {
        path {
          stroke: #2b8afc;
        }
      }
    }
  }

  .icon-limit {
    svg {
      path {
        stroke: #a6a6a6;
      }
    }
    &:hover {
      svg {
        path {
          stroke: #a6a6a6;
        }
      }
    }
  }

  .icon-minus {
    left: 16px;
  }

  .icon-plus {
    right: 16px;
  }
}
