.main-cost-wrapper {
  background-color: #ecf0ff;

  .cost-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
  }

  .text-secondary {
    color: #5c5c5c !important;
  }

  .cost-price {
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
  }

  .old-cost-price {
    color: #5c5c5c;
    line-height: 130%;
    text-decoration: line-through;
  }

  .cost-order-button {
    padding: 18px 0;
    border-radius: 40px;
    background: #2b8afc;
    color: #f9f9f9;
    font-weight: 500;
    line-height: 128%;
    max-width: 18rem;
  }

  .cost-order-button:hover {
    background: #0073fc;
  }

  .subscription-sale-list {
    .subscription-sale-item {
      font-weight: 600;
      font-size: 22px;
      line-height: 22px;

      .sale {
        border-radius: 72px;
        background-color: #f9c630;
      }

      &.active {
        border-radius: 72px;
        background: #2b8afc;

        .title {
          color: #f9f9f9;
        }
      }
    }
  }
}

.main-costs-mobile-wrapper {
  .cost-price {
    font-size: 18px;
    line-height: 22px;
  }

  .text-secondary {
    color: #5c5c5c;
  }

  .costs-sub-title {
    font-size: 18px;
    line-height: 22px;
  }

  .costs-small-text {
    font-size: 14px;
    line-height: 130%;
  }

  .subscription-mobile-active-item {
    background-color: #2187f1;
    border-radius: 6px;

    .sale {
      border-radius: 72px;
      background-color: #f9c630;
    }

    .costs-small-text {
      color: #f9f9f9;
    }
  }

  .costs-mobile-item {
    background-color: #ecf0ff;
    border-radius: 12px;

    .old-costs-price {
      line-height: 130%;
      text-decoration: line-through;
    }
  }

  .costs-description {
    font-size: 14px;
    line-height: 130%;
    color: #5c5c5c;
  }

  .costs-order-button {
    border-radius: 40px;
    background: #2b8afc;
    color: #f9f9f9;
    line-height: 128%;
    max-width: 15rem;

    &.full-width {
      max-width: 100%;
    }
  }

  .cost-order-button:hover {
    background: #0073fc;
  }
}
