header {
  height: 85px;
  padding: 8px 104px;
  background: #F9F9F9;

  .logo-wrapper {
    margin-right: 12px;

    .logo-title-wrapper {
      text-align: center;
      color:#13277E;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .navigation-wrapper {
    position: relative;
    color: #13277E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    a {
      border: 1px solid #F9F9F9;
    }
  }

  .navigation-wrapper:hover a {
    color: #2B8AFC;
    border-radius: 100px;
    border: 1px solid #C1DBFF;

    svg {
      path {
        fill: #2B8AFC;
      }
    }
  }

  .navigation-wrapper-active a {
    color: #2B8AFC;
    border-radius: 100px;
    background: #F9F9F9;
  }

  .navigation-wrapper:hover {
    cursor: pointer;
  }

  .navigation-sub-menu-wrapper {
    position: absolute;
    top: 10px;
    z-index: 1;
    border-radius: 12px;
    border: 1px solid #C1DBFF;
    background: #F9F9F9;

    .navigation-sub-menu-item {
      border-bottom: 1px solid #C1DBFF;
      padding: 8px 24px 8px 12px;
      color: #232323;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .sub-menu-wrapper {
    color: #13277E;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;

    .icon {
      svg > g > g > path,
      svg > g > path {
        fill: #13277E;
      }
    }
  }
}

@media screen and (max-width: 1040px) {
  .phone {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .navigation-wrapper {
    margin-left: auto;
  }
}

@media screen and (max-width: 500px) {
  header {
    padding: 8px 25px;
  }
}
