header {
  height: 85px;
  padding: 8px 104px;
  background: #f9f9f9;

  @media screen and (max-width: 950px) {
    height: auto;
    padding: 0.5rem 1rem;
  }

  .logo-wrapper {
    margin-right: 12px;

    @media screen and (max-width: 950px) {
      margin: 0;
    }

    .logo-title-wrapper {
      text-align: center;
      color: #13277e;
      font-size: 14px;
      font-weight: 600;
    }

    .logo-icon {
      @media screen and (max-width: 950px) {
        width: 44px;
        height: 34px;
      }
    }
  }

  .navigation-wrapper {
    position: relative;
    color: #13277e;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    @media screen and (max-width: 950px) {
      margin-left: 10%;
    }

    &:hover {
      cursor: pointer;
    }

    a {
      border: 1px solid #f9f9f9;
    }
  }

  .navigation-wrapper:hover a {
    color: #2b8afc;
    border-radius: 100px;
    border: 1px solid #c1dbff;

    svg {
      path {
        fill: #2b8afc;
      }
    }
  }

  .navigation-wrapper-active a {
    color: #2b8afc;
    border-radius: 100px;
    background: #f9f9f9;
  }

  .navigation-wrapper-mobile {
    &:active a {
      color: #13277e;
    }

    &.active {
      color: #13277e;
    }
  }

  .navigation-sub-menu-wrapper {
    position: absolute;
    top: 10px;
    z-index: 9999;
    border-radius: 12px;
    border: 1px solid #c1dbff;
    background: #f9f9f9;

    .navigation-sub-menu-item {
      border-bottom: 1px solid #c1dbff;
      padding: 8px 24px 8px 12px;
      color: #232323;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .sub-menu-wrapper {
    color: #13277e;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;

    @media screen and (max-width: 950px) {
      font-size: 14px;
      padding-left: 0.5rem;
    }
  }

  .icon {
    svg > g > g > path,
    svg > g > path {
      fill: #13277e;
    }
  }

  .menu-icon {
    margin-left: auto;

    .icon {
      &:active {
        color: #2b8afc;
      }
    }
  }

  .menu-container {
    background: #ecf0ff;
  }

  .mobile-sub-header {
    font-size: 18px;
    line-height: 22px;
    color: #13277e;
  }
}

.header-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

@media screen and (max-width: 1040px) {
  .phone {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  header {
    padding: 8px 25px;
  }
}
