.promotions-component {
  .title {
    margin-bottom: 32px;
    color: #13277E;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
  }

  .promotions-block {
    margin: 0 104px;
    padding: 30px 0;
    border-radius: 24px;
    background: #ECF0FF;

    .promotion-card {
      width: 234px;

      .text {
        margin-top: 4px;
        text-align: center;

        div {
          display: inline;
        }
      }
    }
  }

  .discounts-wrapper {
    margin: 24px 94px;
  }

  .overlay-wrapper-component {
    padding: 40px;
    width: 65%;
    background-color: #F9F9F9;
    border-radius: 20px;
    position: relative;

    .icon-wrapper {
      position: absolute;
      top: 24px;
      right: 24px;

      &:hover {
        svg > g > g > path,
        svg > g > path {
          fill: #0073FC;
        }
      }
    }

    .overlay-wrapper-component-title {
      color: #13277E;
      margin-bottom: 24px;
      text-align: center;
      font-size: 40px;
      font-weight: 600;
      line-height: 130%;
    }

    .overlay-wrapper-component-text {
      color: #232323;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
    }
  }
}
