.career-page {
  .career-content {
    gap: 40px;

    .career-title {
      color: var(--Text-Title, #13277E);
      text-align: center;
      font-size: 40px;
      font-weight: 600;
      line-height: 130%;
    }
  }
}
