.select-service-wrapper {
  width: 100%;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);

  .service-wrapper {
    padding: 30px 66px 30px 65px;
    width: 27%;
    display: flex;
    flex-flow: column;
    gap: 42px;

    border-radius: 24px;
    background: #ECF0FF;
    cursor: pointer;

    .service-wrapper-title {
      color: #1E1E1E;
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      line-height: 130%;
    }

    &:hover {
      background: #DEE5FF;
    }
  }
}

@media screen and (max-width: 950px) {
  .main-image-wrapper-mobile {
    margin-top: 60px;

    img {
      display: none;
    }
  }

  .select-service-wrapper {
    display: flex;
    justify-content: center;

    position: static;
    top: auto;
    left: auto;
    transform: none;

    ._flex._justify-center._gap-6 {
      display: flex;
      flex-flow: column;

      .service-wrapper {
        padding: 0;
        width: 350px;
        height: 150px;
        justify-content: center;
        gap: 8px;

        ._flex._justify-center {
          img {
            display: block;
          }
        }
      }
    }
  }
}