.counter-component-wrapper {
  display: flex;
  flex-flow: column;
  gap: 20px;
  width: 100%;

  .title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    color: #232323;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.38px;

    .title {
      @media screen and (max-width: 950px) {
        font-size: 18px;
        line-height: 22px;
      }
    }

    .cost-wrapper {
      padding: 12px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
      background: #f9c630;

      @media screen and (max-width: 950px) {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  .sub-title-wrapper {
    margin-top: 12px;
    color: #5c5c5c;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
}
